---
import Layout from '../layouts/Layout.astro'

import ThemeButton from '../components/ThemeButton.vue'
import AboutMe from '../components/AboutMe.vue'
import SocialLinks from '../components/SocialLinks.vue'
import ProjectsAccordion from '../components/ProjectsAccordion.vue'
import AccordionAboutMe from '../mobile/AccordionAboutMe.vue'
import Footer from '../components/Footer.vue'

import getRandomTheme from '../utils/getRandomTheme.ts'

import listThemes from '../data/listThemes.json'

const initialTheme = getRandomTheme(listThemes)
---

<Layout initialTheme={initialTheme} title="Miroslav Lincovsci">
  <div
    class="min-w-screen min-h-screen p-8 pt-14 delay-75 duration-300 ease-in-out lg:px-40"
  >
    <header class="mb-24 lg:mb-36">
      <ThemeButton initialThemeName={initialTheme} client:load />
    </header>
    <main class="lg:flex">
      <div class="lg:mr-24 lg:w-1/2">
        <AboutMe class="mb-10 duration-300" />
        <SocialLinks />
        <AccordionAboutMe client:load class="mt-10 lg:hidden" />
      </div>
      <div class="w-full lg:w-1/2 mt-5 lg:mt-0">
        <ProjectsAccordion client:load />
      </div>
    </main>
  </div>
  <footer class="w-full text-center hidden lg:block">
    <Footer />
  </footer>
</Layout>
