---
import Layout from '../layouts/Layout.astro';
import ThemeButton from '@components/ThemeButton.vue';
import AboutMe from '@components/AboutMe.vue';
import SocialLinks from '@components/SocialLinks.vue';
import ProjectsAccordion from '@components/ProjectsAccordion.vue';
import Footer from '@components/Footer.vue';
import getRandomTheme from '../utils/getRandomTheme.ts';
import listThemes from '../data/listThemes.json';

const initialTheme = getRandomTheme(listThemes);
---

<Layout initialTheme={initialTheme} title="Miroslav Lincovsci">
  <div
    class="min-w-screen min-h-screen bg-background px-8 py-14 delay-75 duration-300 ease-in-out md:px-24"
  >
    <header class="mb-36">
      <ThemeButton initialThemeName={initialTheme} client:load />
    </header>
    <main class="flex">
      <div class="mr-24 w-1/2">
        <AboutMe class="mb-10 duration-300" />
        <SocialLinks />
      </div>
      <div class="w-1/2">
        <ProjectsAccordion />
      </div>
    </main>
    <footer class="absolute bottom-1 left-1/2 -translate-x-1/2">
      <Footer />
    </footer>
  </div>
</Layout>

<style></style>
