---
import Layout from '@layouts/Layout.astro'

import ThemeButton from '@components/ThemeButton.vue'
import AboutMe from '@components/AboutMe.vue'
import SocialLinks from '@components/SocialLinks.vue'
import ProjectsAccordion from '@components/ProjectsAccordion.vue'
import AccordionAboutMe from '@components/mobile/AccordionAboutMe.vue'
import Footer from '@components/Footer.vue'

import listThemes from '../data/listThemes.json'
---

<script is:inline define:vars={{ listThemes }}>
  ;(function () {
    const savedTheme = localStorage.getItem('user-theme')

    if (savedTheme) {
      document.documentElement.classList.add(savedTheme)
    } else {
      const randomIndex = Math.floor(Math.random() * listThemes.length)
      const randomTheme = listThemes[randomIndex].name

      document.documentElement.classList.add(randomTheme)
    }
  })()
</script>

<Layout title="Miroslav Lincovschi">
  <div class="min-w-screen min-h-screen px-8 py-12 delay-75 duration-300 ease-in-out lg:px-40">
    <header class="flex justify-end mb-24 lg:mb-56">
      <ThemeButton client:only="vue" />
    </header>
    <main class="lg:flex">
      <div class="lg:mr-24 lg:w-1/2">
        <AboutMe class="mb-2 duration-300" />
        <SocialLinks />
        <AccordionAboutMe class="mt-10 lg:hidden" client:load />
      </div>
      <div class="w-full lg:w-1/2 mt-5 lg:mt-0">
        <ProjectsAccordion client:load />
      </div>
    </main>
  </div>
  <footer class="w-full text-center hidden lg:block">
    <Footer />
  </footer>
</Layout>
