---
interface Props {
  title: string
  initialTheme: string
}

const { title, initialTheme } = Astro.props
---

<!doctype html>
<html lang="en" class={initialTheme}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Welcome to Miroslav's web developer portfolio!  I craft sleek, functional websites that leave a lasting impression."
    />
    <meta
      name="keywords"
      content="miroslav,lincovsci,miroslav lincovsci, github killitar, github miroslav ,killitar, homepage miroslav, portfolio miroslav, portfolio"
    />
    <meta name="author" content="Miroslav Lincovsci" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      ;(function (m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function () {
            ;(m[i].a = m[i].a || []).push(arguments)
          }
        m[i].l = 1 * new Date()
        for (var j = 0; j < document.scripts.length; j++) {
          if (document.scripts[j].src === r) {
            return
          }
        }
        ;(k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a)
      })(
        window,
        document,
        'script',
        'https://mc.yandex.ru/metrika/tag.js',
        'ym',
      )

      ym(97194080, 'init', {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true,
      })
    </script>
    <noscript
      ><div>
        <img
          src="https://mc.yandex.ru/watch/97194080"
          style="position:absolute; left:-9999px;"
          alt=""
        />
      </div></noscript
    >
    <!-- /Yandex.Metrika counter -->
  </head>
  <body class="bg-background scrollbar-hide duration-300">
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family:
      Roboto Mono,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  html::-webkit-scrollbar {
    display: none;
  }
</style>
