---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Welcome to Miroslav's web developer portfolio!  I craft sleek, functional websites that leave a lasting impression."
    />
    <meta
      name="keywords"
      content="miroslav,lincovsci,miroslav lincovsci, github killitar, github miroslav ,killitar, homepage miroslav, portfolio miroslav, portfolio"
    />
    <meta name="author" content="Miroslav Lincovsci" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-background scrollbar-hide duration-300">
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family:
      Roboto Mono,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  html::-webkit-scrollbar {
    display: none;
  }
</style>
